[submodule "arc-kernel"]
	path = arc-kernel
	url = https://github.com/arcescant/arc-kernel.git
[submodule "arc-rootfs"]
        path = arc-rootfs
        url = https://github.com/arcescant/arc-rootfs.git
